/* 기본 설정 */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Noto Sans KR', sans-serif;
  position: relative;
  background-image: url('/images/cute-dog-with-carrier-car.jpg'); /* 배경 이미지 추가 */
  background-size: cover; /* 배경 이미지 크기 조정 */
  background-position: center; /* 배경 이미지 위치 조정 */
}

/* 강아지 이미지 스타일 */
#dog-image {
  width: 95%; /* 또는 픽셀 단위로 설정 */
  height: auto;
  object-fit: cover; /* 또는 none */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%; /* 필요시 조정 */
  max-height: 100%; /* 필요시 조정 */
  filter: brightness(0.3);
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

/* 헤더 스타일 */
#header {
  font-size: 35px;
  font-weight: 800;
  color: #ffffff; /* 텍스트 색상 변경 */
  position: fixed; /* 상단 고정 */
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1000;
  padding: 45px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

#header a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  transition: color 0.3s ease; /* 호버 효과 추가 */
}

#header a:hover {
  color: #ecf0f3; /* 호버 시 색상 변경 */
}

/* 메시지 박스 스타일 */
#message {
  background: rgb(230 220 255 / 30%); /* 기존보다 더 투명한 배경 */
  padding: 30px;
  border-radius: 10px;
  position: absolute;
  bottom: 230px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2); /* 더 강한 그림자 */
  backdrop-filter: blur(10px); /* 배경 블러 효과 */
  width: 90%;
  max-width: 1000px; /* 최대 너비 설정 */
}

#message h2 {
  color: rgb(255 255 255);
  font-weight: bolder;
  margin-bottom: -10px;
  font-size: 30px; /* 폰트 크기 조정 */
}

#message h1 {
  font-size: 25px;
  color: #e4e4e2;
  margin-bottom: 60px;
}

#message p {
  font-size: 20px; /* 글자 크기 조정 */
  color: #ece8f4; /* 글자 색상 */
  margin-bottom: -40px; /* 아래쪽 여백 */
  text-align: center; /* 텍스트 중앙 정렬 */
}

#message a {
  display: inline-block;
  text-decoration: none;
  background: linear-gradient(90deg, #ffffff, #e8dcff); /* 그라데이션 버튼 */
  color: #140034;
  padding: 15px 50px;
  border-radius: 50px; /* 둥근 모서리 */
  font-size: 25px;
  margin-top: 60px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* 애니메이션 효과 */
}

#message a:hover {
  transform: translateY(-5px); /* 호버 시 약간 위로 이동 */
  box-shadow: 0 8px 20px rgb(214 248 252); /* 호버 시 그림자 강화 */
}


button:hover {
  transform: translateY(-5px); /* 호버 시 약간 위로 이동 */
  box-shadow: 0 8px 20px rgb(133 0 255 / 40%); /* 호버 시 그림자 강화 */
}#header a:hover {
  color: #ffb6c1; /* 연핑크색으로 변경 */
}